*.gem
joe.html
*.rbc
joe
joe/
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
parse/*
parse/
crushlist/
crushlist
crushlist/*
clist.html

# YARD artifacts
.yardoc
_yardoc
doc/
